

.add-commission-form {
    display: flex;
    flex-direction: column;
    
}

.textarea {
    height: 400px;
    width: 100%;
    
}
.textarea-container {
    position:  relative;
}

.char-count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.3;
    font-size: smaller;
    
}

.submit-button {
}

.commission-preview {
    display: flex;
    justify-content: space-between;
}

#name {
    width: 50%;
}

.demo-button {
    position: absolute;
    right: 50px;
}

.icon {
    height: 15px;
}
.sources-label {
    margin:0;
}
.source-container {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    padding: 1rem;

}
.radio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
}

.radio-container > label {
    display: flex;
    justify-content: center;
}

.radio-container > input {
    margin: 0;
}