

.add-commission-form {
    display: flex;
    flex-direction: column;
    
}

.textarea {
    height: 400px;
    width: 100%;
    
}
.textarea-container {
    position:  relative;
}

.char-count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.3;
    font-size: smaller;
    
}

.submit-button {
}

.commission-preview {
    display: flex;
    justify-content: space-between;
}

#name {
    width: 50%;
}

.demo-button {
    position: absolute;
    right: 50px;
}