.add-commission-form {
  display: flex;
  flex-direction: column;
}

.textarea {
  height: 400px;
  width: 100%;
}
.textarea-container {
  position: relative;
}

.char-count {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.3;
  font-size: smaller;
}

.submit-button {
}

.commission-preview {
  display: flex;
  justify-content: space-between;
}

#name {
  width: 50%;
}

.demo-button {
  position: absolute;
  right: 50px;
}

.icon {
  height: 15px;
}
.sources-label {
  margin: 0;
}
.source-container {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;

}
.radio-container {
  display: flex;
align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.radio-container > label {
  display: flex;
  justify-content: center;
}

.radio-container > input {
  margin: 0;
}

#name,
#description,
#date,
#price,
#status,
.sources-input-container,
#file {
  margin-bottom: 1.5rem;
}
