
.commission-section > .header { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}

.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 0 1rem;
    line-height: 0.2rem;
    color: white;

}

.status.Completed {
    background-color: rgb(89, 212, 136);
}

.status.Declined {
    background-color: rgb(228, 78, 78);
}

.status.Accepted\/WIP {
    background-color: rgb(228, 205, 78);
}

.price {
    padding: 0.2rem 1rem;
    font-size: 1rem;
    background-color: rgb(165, 169, 172);
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
.button-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.button-container > *{
}

.description {
    white-space: pre-line;
overflow-wrap: break-word;
}

.image-container {
    height: 400px;

    object-fit: cover;
    padding: 0.2rem;
}

.ref-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.secondary-header > .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.secondary-header > .right > .source{
    text-transform: capitalize;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    background-color: rgb(90, 173, 236);
    border-radius: 20px;
    color: white;
    font-weight: 600;
}