:root {
  box-sizing: border-box;
  --secondary-black: #727272;
  
}

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 243);
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
.paddings {
  padding: 1.5rem;
}

.inner-paddings {
  padding: 1.2rem 0.8rem;
}

.textarea {
  padding: 1rem;
}
.commission-section {
  position: relative;
  height: 100%;
  background: white;
  max-width: 780px;
  flex: 1;
  border-radius: 10px;
  padding: 2rem 4rem;
}

button {
  background: rgb(117, 223, 198);
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: 600;

}


.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
